.question-form {
    margin: auto;
    width: 400px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.question-form input {
    height: 40px;
}
.question-input {
    margin: 10px 0px;
}

.question-submit {
    background-color: rgb(106, 165, 231);
    cursor: pointer;
    border-radius: 5px;
}