main {
    margin-top: 30px;
    max-width: 1200px;

    /* background-color: pink */
}

main h2 {
    text-align: center;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-end ;   
    flex-wrap: wrap;
}

.card {
    margin: 30px;
}